
<div class="quickview-main">
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice([]);
</script>
<div id="messages_product_view"></div>
<div class="wrap_quickview">
    <div class="product-view">
    	<div class="product-essential">
    		<form
    			action="http://alothemes.com/demo/smije/index.php/checkout/cart/add/uenc/aHR0cDovL2Fsb3RoZW1lcy5jb20vZGVtby9zbWlqZS9pbmRleC5waHAvbWFnaWNzaG9wL3F1aWNrdmlldy92aWV3L3BhdGgvbWVyaW5vLXYtbmVjay5odG1sLz9fX19TSUQ9VQ,,/product/35/form_key/5YbdL2SOlbKOpG7G/"
    			method="post" id="product_addtocart_form"
    			>
    			<div class="no-display">
    				<input type="hidden" name="product"
    					value="35" /> <input type="hidden"
    					name="related_product" id="related-products-field" value="" />
    			</div>
				<div class="container">
				    <div class="row">
						<div class="product-img-box col-lg-5 col-md-5">
							<div class="more-views">
	<h2>More Views</h2>
	<ul class="galleryimages" data-slide="vertical">
					<li><img class="img-responsive" src="http://alothemes.com/demo/smije/media/catalog/product/cache/4/image/725x925/9df78eab33525d08d6e5fb8d27136e95/8/_/8_4.jpg"  alt="" title=""/>
		</li>
					<li><img class="img-responsive" src="http://alothemes.com/demo/smije/media/catalog/product/cache/4/image/725x925/9df78eab33525d08d6e5fb8d27136e95/8/-/8-8.jpg"  alt="" title=""/>
		</li>
					<li><img class="img-responsive" src="http://alothemes.com/demo/smije/media/catalog/product/cache/4/image/725x925/9df78eab33525d08d6e5fb8d27136e95/7/_/7_1_5.jpg"  alt="" title=""/>
		</li>
					<li><img class="img-responsive" src="http://alothemes.com/demo/smije/media/catalog/product/cache/4/image/725x925/9df78eab33525d08d6e5fb8d27136e95/6/-/6-6_2.jpg"  alt="" title=""/>
		</li>
					<li><img class="img-responsive" src="http://alothemes.com/demo/smije/media/catalog/product/cache/4/image/725x925/9df78eab33525d08d6e5fb8d27136e95/6/_/6_6.jpg"  alt="" title=""/>
		</li>
					<li><img class="img-responsive" src="http://alothemes.com/demo/smije/media/catalog/product/cache/4/image/725x925/9df78eab33525d08d6e5fb8d27136e95/7/-/7-7_1.jpg"  alt="" title=""/>
		</li>
		</ul>
</div>
<p class="product-image">
	<a href="http://alothemes.com/demo/smije/media/catalog/product/cache/4/image/725x925/9df78eab33525d08d6e5fb8d27136e95/7/-/7-7_1.jpg" class="cloud-zoom" rel="transparentImage: 'data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', useWrapper: false, showTitle: 1, zoomWidth:'290', zoomHeight:'374', adjustY:0, adjustX:0 ">
        <img class="image img-responsive" style="width: 400px; height:374px;" src="http://alothemes.com/demo/smije/media/catalog/product/cache/4/image/725x925/9df78eab33525d08d6e5fb8d27136e95/7/-/7-7_1.jpg" alt="Merino V-neck" />    </a>
</p>
						</div>
						<div class="product-shop col-lg-7 col-md-7">
							<div class="product-name">
								<h1>Merino V-neck</h1>
							</div>

							    <div class="ratings">
                    <div class="rating-box">
                <div class="rating" style="width:60%"></div>
            </div>
                <p class="rating-links">
            <a href="http://alothemes.com/demo/smije/index.php/review/product/list/id/35/">1 Review(s)</a>
            <span class="separator">|</span>
            <a href="http://alothemes.com/demo/smije/index.php/review/product/list/id/35/#review-form">Add Your Review</a>
        </p>
    </div>
														
            <p class="availability in-stock">Availability: <span>In stock</span></p>
    

                        
    <div class="price-box">
                                            
                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-35">
                    $567.00                </span>
            </p>

                            <p class="special-price">
                    <span class="price-label">Special Price</span>
                <span class="price" id="product-price-35">
                    $467.00                </span>
                </p>
                    
    
        </div>

							
							
							  							<div class="add-to-box">
								

<ul class="add-to-links">
    <li>
        <a href="http://alothemes.com/demo/smije/index.php/wishlist/index/add/product/35/form_key/5YbdL2SOlbKOpG7G/" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist">
            <i class="fa fa-heart-o"></i>
            Add to Wishlist        </a>
    </li>
    <li>
        <a href="http://alothemes.com/demo/smije/index.php/catalog/product_compare/add/product/35/uenc/aHR0cDovL2Fsb3RoZW1lcy5jb20vZGVtby9zbWlqZS9tYWdpY3Nob3AvcXVpY2t2aWV3L3ZpZXcvcGF0aC9tZXJpbm8tdi1uZWNrLmh0bWw,/form_key/5YbdL2SOlbKOpG7G/" class="link-compare">
            <i class="fa fa-compress"></i>
            Add to Compare        </a>
    </li>
    <li class="email-friend">
        <a href="http://alothemes.com/demo/smije/index.php/sendfriend/product/send/id/35/">
            <i class="fa fa-envelope-o"></i>
            Email to a Friend        </a>
    </li>
</ul>
																	    <div class="add-to-cart">
                <label for="qty">Qty:</label>
        <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty" />
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span>Add to Cart</span></span></button>
            </div>
																										
							</div>
													
							
							
							
						</div>
					</div>
					<div class="row">
						<div class="product-more-info"><a href="http://alothemes.com/demo/smije/index.php/merino-v-neck.html"><span>View Detail</span></a></div>
					</div>
			</div>
        </form>
    	<script type="text/javascript">
        //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }

                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
        //]]>
        </script>
    </div>
</div>
</div>


<script type="text/javascript">
    var lifetime = 3600;
    var expireAt = Mage.Cookies.expires;
    if (lifetime > 0) {
        expireAt = new Date();
        expireAt.setTime(expireAt.getTime() + lifetime * 1000);
    }
    Mage.Cookies.set('external_no_cache', 1, expireAt);
</script>
</div>

